---
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/Github.astro";
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContain from "../components/SectionContain.astro";
import ExperienceIcon from "../icons/Experience.astro";
---

<Layout title="Franco Portfolio">
  <main>
    <SectionContain>
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hola, soy Franco
        <div class="flex justify-center items-center">
          <img
            src="/public/logo-portfolio.webp"
            alt="fmarino photo"
            class="rounded-full w-12 h-12"
          />
        </div>
      </h1>
      <h2 class="text-2xl text-wrap">
        QA especializado en <span class="text-red-500/80"
          >automatizción de pruebas y optimización de procesos</span
        >
        en todos los entornos. Apasionado por crear <span
          class="text-red-500/80">soluciones innovadoras</span
        > que reducen esfuerzos repetitivos, elevan la eficiencia operativa y mejoran
        la calidad en cualquier plataforma.
      </h2>
      <nav class="flex gap-x-4 mt-5">
        <SocialPill link="https://www.linkedin.com/in/francomari%C3%B1o/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill link="https://github.com/fmarinoa/">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>

        <SocialPill link="mailto:fmarinoa@gmail.com">
          <MailIcon class="size-6" />
          fmarinoa@outlook.com
        </SocialPill>
      </nav>
    </SectionContain>

    <SectionContain>
      <h2 class="text-2xl font-semibold mb-6 flex items-center gap-x-4">
        <ExperienceIcon class="size-7"/> 
		Experiencia laboral
      </h2>
      <Experience />
    </SectionContain>
  </main>
</Layout>
