---
interface Props {
  message?: string
  state?: 'success' | 'failed'
  triggerElementId?: string
  timeout?: number
}

const { message = '', state = 'success' } = Astro.props
---

<div
  id="alert"
  class={`fixed top-16 right-4 px-4 py-2 rounded shadow-md duration-300 transition-all text-white ${state} hidden`}
>
  {message}
</div>

<style>
  .success {
    background-color: var(--color-green-500);
  }
  .failed {
    background-color: var(--color-red-500);
  }
</style>
