---
import type { ImageMetadata } from 'astro'

type TIcon = { src: ImageMetadata; alt: string }

interface Props {
  readonly icons: TIcon[]
}

const { icons } = Astro.props as Props
---

<div class="relative overflow-hidden w-full" role="list">
  <div class="edge-fade-left" aria-hidden="true"></div>
  <div class="edge-fade-right" aria-hidden="true"></div>

  <div class="flex gap-6 w-max marquee py-1">
    {
      icons.map((tool, i) => (
        <div
          role="listitem"
          tabindex="0"
          aria-label={tool.alt}
          class="flex-shrink-0 w-16 h-16 bg-card border border-gray-700 rounded-xl flex items-center justify-center p-3 group hover:border-primary hover:shadow-lg hover:scale-110 transition-all duration-300"
        >
          <img
            src={tool.src.src}
            alt={tool.alt}
            loading="lazy"
            class="w-full h-full object-contain filter group-hover:brightness-110 transition-all duration-300"
          />
        </div>
      ))
    }
  </div>
</div>
