---
interface Props {
  date: string;
  jobRole: string;
  employer: string;
  description: string;
}

const { date, jobRole, employer, description } = Astro.props;
---

<div
  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
>
</div>
<h4
  class="flex items-center mb-1 text-xl font-bold"
>
  {jobRole}
</h4>
<h3
  class="flex items-center mb-1 text-lg"
>
  {employer}
</h3>
<time
  class="block mb-2 text-sm font-normal leading-none text-white"
  >{date}</time
>
<p class="mb-4 text-base font-normal text-gray-500 text-pretty">
  {description}
</p>
