---
import type { JSX } from "astro/jsx-runtime";

interface Props {
  date: string;
  jobRole: string;
  employer: string;
  description: string;
}

const { date, jobRole, employer, description } = Astro.props;
---

<span
  class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
>
</span>
<h3
  class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
>
  {jobRole}
</h3>
<h4
  class="flex items-center mb-1 text-m font-semibold text-gray-700 dark:text-white"
>
  {employer}
</h4>
<time
  class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
  >{date}</time
>
<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
  {description}
</p>
