---
interface Props {
  href: string
  className?: string
}

const { href, className } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`text-blue-400 transition-colors ${className}`}
>
  <slot />
</a>

<style>
  a:hover {
    --tw-text-opacity: 1;
    color: rgb(129 140 248 / var(--tw-text-opacity, 1));
  }
</style>
