---
import franco from '@/assets/photos/franco.webp'
import Carousel from '@/components/Carousel.astro'
import Section from '@/components/Section.astro'
import { getAbout, getTools } from '@/lib/content'

const aboutMeParagraph: string = await getAbout()
const toolsList = await getTools()

const mid: number = Math.ceil(toolsList.length / 2)
const first = [...toolsList.slice(0, mid), ...toolsList.slice(0, mid)]
const second = [...toolsList.slice(mid), ...toolsList.slice(mid)]
---

<Section sectionId="about-me" title="Sobre mí">
  <div class="flex flex-col md:flex-row gap-8 items-start md:items-stretch">
    <img
      src={franco.src}
      alt="Ingeniero Franco Mariño"
      width={256}
      height={256}
      loading="eager"
      class="rounded-full w-full h-auto max-w-xs object-cover aspect-[100/100] self-center md:self-stretch"
    />

    <div class="flex flex-col w-full md:max-w-lg">
      <p class="mb-2 text-center md:text-left" set:html={aboutMeParagraph} />

      <h3 class="text-lg font-semibold text-white mb-4 mt-6">
        Herramientas y tecnologías:
      </h3>

      <div class="w-full max-w-xl mx-auto flex flex-col gap-6">
        <Carousel icons={first} />
        <Carousel icons={second} />
      </div>
    </div>
  </div>
</Section>
