---
import { Image } from 'astro:assets'
import Carousel from '@/components/Carousel.astro'
import Section from '@/components/Section.astro'
import PhotoFranco from '@/assets/photos/franco.webp'

import Appium from '@/assets/icons/appium.svg'
import AWS from '@/assets/icons/aws.svg'
import Bitbucket from '@/assets/icons/bitbucket.svg'
import CSharp from '@/assets/icons/csharp.svg'
import Cypress from '@/assets/icons/cypress.svg'
import Git from '@/assets/icons/git.svg'
import GitHub from '@/assets/icons/github.svg'
import GitHubActions from '@/assets/icons/githubactions.svg'
import GitLab from '@/assets/icons/gitlab.svg'
import IntelliJIDEA from '@/assets/icons/intellijidea.svg'
import Java from '@/assets/icons/java.svg'
import Jenkins from '@/assets/icons/jenkins.svg'
import Jest from '@/assets/icons/jest.svg'
import JMeter from '@/assets/icons/jmeter.svg'
import K6 from '@/assets/icons/k6.svg'
import KarateLabs from '@/assets/icons/karatelabs.svg'
import Playwright from '@/assets/icons/playwright.svg'
import Postman from '@/assets/icons/postman.svg'
import PyCharm from '@/assets/icons/pycharm.svg'
import Python from '@/assets/icons/python.svg'
import Selenium from '@/assets/icons/selenium.svg'
import SonarQube from '@/assets/icons/sonarqube.svg'
import TypeScript from '@/assets/icons/typescript.svg'
import VisualStudio from '@/assets/icons/visualstudio.svg'
import VSCode from '@/assets/icons/vscode.svg'
import WebStorm from '@/assets/icons/webstorm.svg'

const toolsList = [
  { src: Python, alt: 'Python' },
  { src: TypeScript, alt: 'TypeScript' },
  { src: CSharp, alt: 'C#' },
  { src: Java, alt: 'Java' },
  { src: Selenium, alt: 'Selenium' },
  { src: Playwright, alt: 'Playwright' },
  { src: Cypress, alt: 'Cypress' },
  { src: Jest, alt: 'Jest' },
  { src: Appium, alt: 'Appium' },
  { src: Postman, alt: 'Postman' },
  { src: JMeter, alt: 'JMeter' },
  { src: K6, alt: 'K6' },
  { src: KarateLabs, alt: 'Karate Labs' },
  { src: SonarQube, alt: 'SonarQube' },
  { src: Jenkins, alt: 'Jenkins' },
  { src: GitHubActions, alt: 'GitHub Actions' },
  { src: Git, alt: 'Git' },
  { src: GitHub, alt: 'GitHub' },
  { src: GitLab, alt: 'GitLab' },
  { src: Bitbucket, alt: 'Bitbucket' },
  { src: VSCode, alt: 'VS Code' },
  { src: VisualStudio, alt: 'Visual Studio' },
  { src: IntelliJIDEA, alt: 'IntelliJ IDEA' },
  { src: PyCharm, alt: 'PyCharm' },
  { src: WebStorm, alt: 'WebStorm' },
  { src: AWS, alt: 'AWS' },
]

const mid: number = Math.ceil(toolsList.length / 2)
const first = [...toolsList.slice(0, mid), ...toolsList.slice(0, mid)]
const second = [...toolsList.slice(mid), ...toolsList.slice(mid)]
---

<Section sectionId="about-me" title="Sobre mí">
  <div class="flex flex-col md:flex-row gap-8 items-start md:items-stretch">
    <Image
      src={PhotoFranco}
      alt="Ingeniero Franco Mariño"
      width={256}
      height={256}
      loading="eager"
      class="rounded-full w-full h-auto max-w-xs object-cover aspect-[100/100] self-center md:self-stretch"
    />

    <div class="flex flex-col w-full md:max-w-lg">
      <p class="mt-2 text-center md:text-left">
        Soy un Ingeniero especializado en <i>automatización de pruebas</i>, con
        experiencia liderando iniciativas de calidad en entornos de
        telecomunicaciones, bancarios y financieros. Me apasiona el uso de
        tecnologías modernas para asegurar productos robustos y eficientes.
      </p>

      <h3 class="text-lg font-semibold text-white mb-4 mt-6">
        Herramientas y tecnologías:
      </h3>

      <div class="w-full max-w-xl mx-auto flex flex-col gap-6">
        <Carousel icons={first} />
        <Carousel icons={second} />
      </div>
    </div>
  </div>
</Section>
